#form_contact{
    display:flex ;
    flex-wrap: wrap;
    justify-content: center;
    width: 80%;
    margin: auto;

}

.inputF{
    width: 35%;
    height: 20px;
}

select{
    margin:10px 10px ;
    width: 91%;
    height: 25px;
}

.inputF,
label {
    width: 90%;
    margin: 10px;
    text-align: left;
}

#message{
    width: 100%;
    height: 200px;
}

.name {
    
    display: flex;
    flex-direction: column;
    width: 50%;
}
#msg{
    margin-right: auto;
    display: flex;
    flex-direction: column;
    width: 95%;
}

label{
    
   height: 2rem;
}