@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@300;500&display=swap');

html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Spartan', sans-serif;
}

header {
    position: fixed;
    top: 0; left: 50%;
    transform: translate(-50%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    height: 70px;
    margin: auto;
    border-bottom: 1px solid rgb(199, 199, 199);
}

#logo {
    width: 200px;
}

nav {
    width: 100%;
}

header nav ul {
    display: flex;
    justify-content: space-evenly;
}

header nav ul li {
    list-style: none;
}

header nav ul li a:hover {
    color: #1DB02E;
}

header nav ul li a {
    color: #6633ff;
    text-decoration: none;
}

#lang {
    position: relative;
    font-size: 0.875rem;
    font-weight: bold;
    color: #7F7F7F;
}

#lang:hover {
    cursor: pointer;
}

.sous-menu {
    position: absolute;
    left: 0;
    width: 100%;
    display: block;
    border: 1px solid black;
}

.img-lang {
    width: 18px;
}

header button {
    padding: 3px 10px;
    border-radius: 5px;
    border: none;
    background-color: #6633ff;
    color: #fff;
    font-size: 1rem;
}

header button:hover {
    cursor: pointer;
}