#myBody{
    text-align: center;
}

#imgFond{ 
    background-image: linear-gradient( 
180deg
 , rgba(255, 240, 25, 0.11), rgba(255, 240, 25, 0.11)),url(../images/img_partenaire/Image_Partenaires1.png);
    background-size: auto ,cover;
    background-position: 0px 0px, 50% 50%;
    background-attachment: scroll, fixed;
    height: 200px;
    margin-top: -90px;
    padding: 60px 0;
}

#p1 {background-image: url(../images/img_partenaire/Image_Partenaires1.png);
    background-position: 50% 50%;
    background-size: cover;
    font-size: 4vw;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 100px;
    background-attachment: fixed;
}


#pFond{
    display: flex;
    align-items: center;
    flex-direction: column;
}

#p2 {
    color: #1DB02E;
    font-size: 22px;
    background-color: white;
    width: 400px;
    margin: 20px;
    padding: 5px;
    margin-top: -45px;
    border-radius: 10px;
    box-shadow: 3px 1px 4px black;
}

#p3{
    color: #7F7F7F;
}

h3{
    color:white ; 
    background-color:#6633ff;
    display: inline-block;
    padding:7px 15px;
    border-radius: 5px;
}

#devenir_part{
    display:flex ;
    justify-content:space-around; 
    flex-wrap: wrap;
    margin-bottom: 50px;
}

.img{

    width: 150px;
    height: 150px;
    border-radius: 15px;
    justify-self: flex-end;
}

.part{
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top:50px ;
}

.btn_part{
    font-size: 25px;
    color: white;
    background-color:#1DB02E;
    border-radius: 10px;
    border: none;
    padding: 5px;
    margin-bottom: 50px;
}
.btn_part:hover , .btn_envoyer:hover{
    transform: scale(1.05);
}

.btn_envoyer{
    font-size: 30px;
    color: white;
    background-color:#1DB02E;
    border-radius: 10px;
    border: none;
    padding: 5px;
    width: 300px;
    margin-bottom: 50px;
}


h4 {
    color: #1DB02E;
    font-size: 18px;
    height: 20px;
    display: inline-block;
    padding: 7px 10px;
    border-radius: 5px;
    margin-block-end: 0;
}

.part1{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 400px;
    margin-top:50px ;
     
}

.txt_part{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.dessusImg{
    margin-block-start: 0;
}

.sousImg{
    margin-block-end: 0;
    font-size: 18px;
    

}

